{% extends 'web/base.html' %}
{% block title %}
<h1 class="maintitle">{{title}}</h1>
{% endblock %}
{% block content %}
<div class="infos">
  <div class="min">
<p>Министерство образования Ставропольского края<br>
 государственное бюджетное профессиональное образовательное учреждение<br>
 «Невинномысский энергетический техникум»
</p></div>
<div class="theme" >
<p>Курсовой проект<br>
Тема: ИС на тему: Новостной сайт<br>

</p>
</div>
<div class="info_group">
<p class="checker">Проверил:<br>
Молчаненко В.В.</p>
<p class="worker">Разработал:<br>
Тыртышный И.А.</p>
</div>
<p class="city">Невинномысск, 2023</p>

</div>
    <div class="backbutton">
        <a href=/main><button class="button">На главную</button></a>
    </div>
{% endblock %}