{% extends 'web/base_form.html' %}

{% block content %}

            <div class="form_title">
                <h1 class="form_title">Установить новый пароль</h1>
            </div>
            {% csrf_token %}
            {% for f in form %}
                    <div class="form_group">
                    {{ f }}
                    <label class="form_label" for="{{ f.id_for_label }}">{{f.label}}</label>
                    <div class="form_error">{{f.errors}}</div>
            </div>
            {% endfor %}
            <div class="button_div">
                <button type="submit" class="form_button">Подтвердить</button>
            </div>
{% endblock %}