{% extends 'web/base.html' %}

{% block content %}
{% if request.user.pk == user.pk %}
<form method="post" class="form" >
    <h1 class="form_title">Изменить данныне</h1>
    {% csrf_token %}
    {% for f in form %}
        <div class="form_group">
            {{ f }}

            <label class="form_label" for="{{ f.id_for_label }}">{{f.label}}</label>
            <div class="form_error">{{f.errors}}</div>
        </div>
    {% endfor %}

    <p class="auth_error">Для изменения паролья перейдите по <a href="password/"> ссылке</a></p>
    <div class="form_error">{{ form.non_field_errors }}</div>
    <div class="button_div">
        <button type="submit" class="form_button">Сохранить</button>
    </div>
    <div class ='button-pad'>
        <a  href="{% url 'main' %}" class="help_button"><button class="form_button", type="button">На главную</button></a>
    </div>

</form>

{% else %}
<p class="auth_error">Ошибка доступа</p>
<div class="button_div">
<a  href="{% url 'main' %}" class="help_button"><button class="form_button", type="button">На главную</button></a>
</div>
{% endif %}

{% endblock %}